.box{
  border: 0.1px solid rgb(155, 149, 149);
  border-radius: 15px;
  width: 306px;
  min-height: 340px;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.2s ease-in-out; 
  
}



.box:hover{
  transform: scale(1.1);
}

.box-img{
  width: 306px;
  height: 175px;
  background-color: black;
  position: relative;
}

.edit{
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 25px; /* Distância do topo */
  right: 25px; /* Distância da direita */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.edit img{
  height: 30px;
  width: 30px;
}

.dNone{
  display: none;
}

.box-img .img-comida{
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.box-text .div1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.box-text .div1 p{
  font-family: 'DM sans', sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-top: 1.6em;
}

.box-text div .preco{
  color:  var(--primary);
}

.box-text .div2 .descricao{
  text-align: center;
  font-family: 'DM sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 1.6em;
  color: rgba(0, 0, 0, 0.7);
}

.div2{
  width: 95%;
  margin: auto;
}


