@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-inputs {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top{
  height: 2em;
}

.top a img{
  width: 18px;
  height: 28px;
}


.top h3 {
  font-family: "DM Sans", serif;
  font-size: 28px;
  margin: auto;
}

.inputs-produto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.inputs-produto span .text{
  width: 90%;
  margin: auto;
  gap: 1em;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: #D9D9D9;
  font-family: "DM sans", serif;
  font-weight: 500;
  color: #474747;
  font-size: 14px;
  padding: 5px;
  opacity: 1;
}

.inputs-produto span input::placeholder{
  opacity: 1;
  color: #474747;
}

.inputs-produto span textarea{
  width: 90%;
  height: 130px;
  margin: auto;
  border: none;
  background-color: #D9D9D9;
  border-radius: 10px;
  line-height: 1px;
  display: block;
  padding: 10px;
  line-height: 1.5;
  resize: none;
  font-family: "DM sans", serif;
  font-weight: 500;
  color: #474747;
  font-size: 14px;
}

.inputs-produto span textarea::placeholder{
  opacity: 1;
  color: #474747;
}

.inputs-produto span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputs-produto span .checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  height: 40px;
  background-color: #D9D9D9;
  border-radius: 10px;
  padding: 10px;
}

.inputs-produto span .checkbox h3{
  width: 100vw;
  font-family: "DM sans", serif;
  font-weight: 500;
  color: #474747;
  font-size: 14px;
}

.button-add{
  display: block;
  width: 80%;
  padding: 0.6em;
  margin: auto;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  background-color: #AD343E;
  font-family: "DM sans", serif;
  font-weight: 500;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

/*##########################################INPUT-IMG##########################################*/
.custum-file-upload {
  height: 170px;
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #D9D9D9;
  padding: 1.5rem;
  border-radius: 20px;
}

.custum-file-upload .linha-separacao{
  margin: 0;
  height: 3px;
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;

}

.icon img{
  height: 70px;
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM sans", serif;
  font-weight: 500;
  color: #474747;
  font-size: 14px;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: #474747;
}

.custum-file-upload input {
  display: none;
}


/*##########################################CHECKBOX##########################################*/
  .toggle-checkbox {
    appearance: none;
    position: absolute;
    z-index: 1;
    border-radius: inherit;
    width: 3.5em;
    height: 1.5em;
    font: inherit;
    opacity: 0;
    cursor: pointer;
  }
  
  .toggle-container {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: .375em;
    width: 3em;
    height: 1.5em;
    background-color: #ff1414;
    box-shadow: inset 0 0 .0625em .125em rgb(255 255 255 / .2), inset 0 .0625em .125em rgb(0 0 0 / .4);
    transition: background-color .4s linear;
  }
  
  .toggle-checkbox:checked + .toggle-container {
    background-color: #3db505;
  }
  
  .toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: .0625em;
    border-radius: .3125em;
    width: 1.375em;
    height: 1.375em;
    background-color: #e8e8e8;
    box-shadow: inset 0 -.0625em .0625em .125em rgb(0 0 0 / .1), inset 0 -.125em .0625em rgb(0 0 0 / .2), inset 0 .1875em .0625em rgb(255 255 255 / .3), 0 .125em .125em rgb(0 0 0 / .5);
    transition: left .4s;
  }
  
  .toggle-checkbox:checked + .toggle-container > .toggle-button {
    left: 1.5625em;
  }


  /*modal*/
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .close-modal {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  